.popup-section {
  width: 90%;
  margin: auto;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 130px;
  direction: rtl;
  height: 100%;
  overflow: auto;
  padding-bottom: 50px;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}
.popup-section::before {
  position: absolute;
  content: "";
  top: 60px;
  left: -35%;
  width: 250px;
  height: 185px;
  background: url(/img/popbg.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
}
.popup-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.popup-section-closetrigger {
  display: block;
  width: 90px;
  height: 90px;
  background: #202331;
  position: relative;
  z-index: 1;
}
.popup-section-closetrigger::before,
.popup-section-closetrigger:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 3px;
  border-radius: 50px;
  background: #fff;
}
.popup-section-closetrigger::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-section-logo {
  margin-right: 5px;
}
.popup-section-box {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 60px;
  padding: 0 15px;
}
.popup-section-form {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 75px;
}
.popup-section-submit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 5px;
}
.popup-section-submit .btn {
  height: 100%;
  border-radius: 0;
  font-size: 18px;
  padding: 22px 65px 25px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.popup-section-information {
  height: 100%;
  background: #202331;
  padding: 13px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 20px;
  place-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.popup-section-information > a {
  border: 1px solid #fff;
  padding: 12px 35px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
  grid-template-columns: 20px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 3rem;
}
.popup-section-information > a img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.popup-section-information > a span.text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.popup-section-information > .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.popup-section-information > .info-text span {
  color: #979ea6;
}
@media (min-width: 768px) {
  .popup-section {
    grid-gap: 150px;
  }
  .popup-section::before {
    left: -21%;
    width: 285px;
    height: 265px;
  }
  .popup-section-form {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .popup-section-box {
    padding: 0 45px;
  }
  .popup-section-information {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 20px;
  }
}
@media (min-width: 992px) {
  .popup-section {
    width: 80%;
    grid-gap: 160px;
  }
  .popup-section-box {
    grid-gap: 70px;
    padding: 0 75px;
  }
}
@media (min-width: 1250px) {
  .popup-section {
    width: 900px;
    grid-gap: 175px;
  }
  .popup-section::before {
    top: 75px;
    left: -19%;
    width: 320px;
    height: 275px;
  }
  .popup-section-box {
    grid-gap: 75px;
    padding: 0 100px;
  }
  .popup-section-form {
    grid-column-gap: 80px;
    grid-row-gap: 35px;
  }
  .popup-section-submit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 5px;
  }
}
@media (min-width: 1920px) {
  .popup-section {
    width: 1172px;
    grid-gap: 190px;
  }
  .popup-section::before {
    top: 84px;
    left: -15%;
    width: 340px;
    height: 320px;
  }
  .popup-section-box {
    grid-gap: 80px;
    padding: 0 140px;
  }
  .popup-section-form {
    grid-column-gap: 90px;
    grid-row-gap: 40px;
  }
}
/*# sourceMappingURL=popup.css.map */
